lambda_functions/all_lambda_functions.zip
h4h/local_settings.py
.idea
.idea*
db.sqlite3
*.pyc
*/migrations/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
venv
.lambda/requests
venv/.Python
venv/bin/python2
venv/bin/python2.7
venv/include/python2.7
venv/lib/python2.7/_abcoll.py
venv/lib/python2.7/_weakrefset.py
venv/lib/python2.7/abc.py
venv/lib/python2.7/codecs.py
venv/lib/python2.7/config
venv/lib/python2.7/copy_reg.py
venv/lib/python2.7/encodings
venv/lib/python2.7/fnmatch.py
venv/lib/python2.7/genericpath.py
venv/lib/python2.7/lib-dynload
venv/lib/python2.7/linecache.py
venv/lib/python2.7/locale.py
venv/lib/python2.7/ntpath.py
venv/lib/python2.7/os.py
venv/lib/python2.7/posixpath.py
venv/lib/python2.7/re.py
venv/lib/python2.7/site-packages/requests/requests
venv/lib/python2.7/sre.py
venv/lib/python2.7/sre_compile.py
venv/lib/python2.7/sre_constants.py
venv/lib/python2.7/sre_parse.py
venv/lib/python2.7/stat.py
venv/lib/python2.7/types.py
venv/lib/python2.7/UserDict.py
venv/lib/python2.7/warnings.py
