option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: h4h/wsgi.py
    StaticFiles: /static/=static/
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: h4h.settings
    RDS_PORT: 3306
    RDS_DB_NAME: h4h
    RDS_USERNAME: root
    RDS_PASSWORD: mypassword
    RDS_HOSTNAME: aa8mahrw11og5u.cl8rpquulp3c.us-east-1.rds.amazonaws.com
container_commands:
  01_make_migrations:
    command: "python manage.py makemigrations; python manage.py migrate"
    leader_only: true