option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: h4h/wsgi.py
    StaticFiles: /static/=static/
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: h4h.settings
container_commands:
  01_make_migrations:
    command: "manage.py makemigrations"
    leader_only: true
  02_migrate:
    command: "manage.py migrate"
    leader_only: true